span {
    display: inline-block;
    background-color: rgba(148, 148, 148, 0.521);
    padding: 5px;
}
body {
    text-align: center;
    background-color: rgb(221, 248, 255);
}
div,
span {
    margin: 1px;
}